<div class="loyalty">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        Loyalty
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        List
      </div>
    </div>
  </div>
</div>
