<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.styles.css[0] %>">
    <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
  </head>
  <body ng-app="example">
    <example>
      <layout></layout>
    </example>
    <script type="text/javascript">
      var VERSION = '<%= htmlWebpackPlugin.options.version %>';
      var PACKAGE_NAME = '<%= htmlWebpackPlugin.options.title %>';
    </script>
    <script type="text/javascript">
      var BOARD_ENDPOINT = '';
    </script>
    <script src="<%= htmlWebpackPlugin.files.chunks.scripts.entry %>"></script>
  </body>
</html>
