<div class="create-interview">
  <div class="btn-group btn-block" uib-dropdown is-open="$ctrl.status.isopen">
    <button id="single-button" type="button" class="btn btn-primary btn-block" uib-dropdown-toggle ng-disabled="$ctrl.disabled">
      <i class="fa fa-plus" aria-hidden="true"></i> Create Interview <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem">
        <a href="#">
          Campus Batch Interview
        </a>
      </li>
      <li role="menuitem">
        <a href="#">
          Task Campaign Interview
        </a>
      </li>
      <li role="menuitem">
        <a href="#">
          Single Interview
        </a>
      </li>
    </ul>
  </div>
</div>
