<div class="interview">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        Search
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <interview-item></interview-item>
      </div>
    </div>
  </div>
</div>
