navigation-item {
  display: inline-block;
  margin: 0 5px;

  .navigation-item {
    border-bottom: 2px solid transparent;
    letter-spacing: 1px;
    padding: 10px 15px;
    font-size: 16px;

    a {
      color: #767676;

      &:hover,
      &:focus,
      &:active,
      &:visited {
        text-decoration: none;
      }
    }

    &:hover,
    &:focus,
    &.active {
      border-bottom: 2px solid #48A8EE;

      a {
        color: #333333;
      }
    }
  }
}
