<header class="app-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h2>App Header</h2>
      </div>
      <div class="col-md-10">
        <user-profile></user-profile>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <navigation selected-item="'1'">
          <navigation-item title="'Interviews'" url="'/#!/interviews'"></navigation-item>
          <navigation-item title="'Candidates'" url="'/#!/candidates'"></navigation-item>
          <navigation-item title="'Loyalty'" url="'/#!/loyalty'"></navigation-item>
        </navigation>
      </div>
      <div class="col-md-2">
        <create-interview></create-interview>
      </div>
    </div>
  </div>
</header>
