@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/animate.css/animate';
@import 'node_modules/font-awesome/css/font-awesome';

@import './common/common';
@import './interview/interview';
@import './candidate/candidate';
@import './loyalty/loyalty';
@import './editor/editor';
@import './utilities/utilities';

body {
  background: #F4F7F9;
  font-family: 'Roboto', sans-serif;
}
